*.pyc
__pycache__
venv
air_data.csv
aixin.jpg
cliapp
data_explore.py
data_process.py
day3_1.ipynb
day3_2.ipynb
day3_3.ipynb
display.py
duihuakuan.jpg
hello.py
hello.py~
.ipynb_checkpoints
lines.csv
main.py
message80W1.csv
Model.py
newdic1.txt
nohup.out
numpy数据分析.ipynb
qingdao.ipynb
simhei.ttf
stopword.txt
Untitled1.ipynb
Untitled2.ipynb
Untitled.ipynb
垃圾短信.ipynb
求曲面图形面积.ipynb
航空公司客户价值分析.ipynb
.gitignore~
